<div class="container-fluid bgColor-full">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="form_bg">
          <div><img src="./assets/img/logo.png" class="logo" /></div>

          <div class="heading" *ngIf="!resetUserFlag">
            {{ APPLABELCONSTANTS.LOGIN.SIGN_IN_AC }}
          </div>
          <div class="heading" *ngIf="resetUserFlag">
            {{ APPLABELCONSTANTS.LOGIN.RESET_PASSWORD}}
          </div>

          <form [formGroup]="signinForm" *ngIf="!resetUserFlag">
            <div class="form-group">
              <input
                type="text"
                style="text-transform: lowercase;"
                placeholder="Email"
                formControlName="userName"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
              />
            </div>
            <div class="form-group">
              <div
                class="errorMessage"
                *ngIf="
                  signinForm.controls['userName'].touched &&
                  signinForm.controls['userName'].hasError('required')
                "
              >
                {{ APPLABELCONSTANTS.LOGIN_ERRORS.EMAIL_REQUIRED }}
              </div>
            <div class="form-group">
              <input
                type="password"
                formControlName="password"
                class="form-control"
                placeholder="password"
                [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
              />
            </div>
            <div
              *ngIf="
                signinForm.controls['password'].touched &&
                signinForm.controls['password'].invalid
              "
              class="errorMessage"
            >
              {{ APPLABELCONSTANTS.LOGIN_ERRORS.PWD_REQUIRED }}
            </div>
            <div class="font">
              <a [routerLink]="" (click)="forgotPassword()" id="forgot-password">{{
                APPLABELCONSTANTS.LOGIN.FORGET
              }}</a>
            </div>
            <div class="button-row">
              <button
                type="button"
                (click)="onLogin()"
                id="on-login"
                [disabled]="!signinForm.valid"
                class="btn btn-primary"
              >
                {{ APPLABELCONSTANTS.LOGIN.SIGN_IN }}
              </button>
            </div>
          </form>
          <form [formGroup]="resetForm" *ngIf="resetUserFlag">
            <ng-container>
             
              <div>
              <mat-form-field appearance="none">
                <input
                  matInput
                  type="email"
                  placeholder="Enter Email"
                  formControlName="email"
                  name="email"
                  autocomplete="off"
                  required
                  readonly
                />
              </mat-form-field>
              <div
                  class="errorMessage err"
                  *ngIf="
                  resetForm.controls['email'].touched &&
                  resetForm.controls['email'].hasError(
                    'required'
                  )
                  "
                >
                  {{
                    EMAIL_REQUIRED
                  }}
                </div>
                <div
                class="errorMessage err"
                *ngIf="
                resetForm.controls['email'].touched &&
                resetForm.controls['email'].hasError(
                    'pattern'
                  )
                "
              >
                {{
                  ERROR_EMAIL
                }}
              </div>
              </div>
              <div class="text-right" style="margin-top: 15px;">
                <button
                  type="button"
                  class="btn btn-primary mr-2"
                  (click)="submit()"
                  id="login-submit"
                  [disabled]="!resetForm.valid"
                >
                  Submit
                </button>
                <button
                  type="button"
                  class="btn btn-primary mr-2"
                  (click)="backToLogin()"
                  id="back-tologin"
                >
                  Back to Login
                </button>
              </div>
            </ng-container>
          </form>

          <div class="signUp">
            {{ APPLABELCONSTANTS.LOGIN.DONT_HAVE_AC }}
            <a routerLink="/signin">{{ APPLABELCONSTANTS.GUEST.SIGN_UP }}</a>
          </div>
          <div><img src="./assets/img/login-bg2.png" class="bgCorner" /></div>
        </div>
      </div>

      <div class="col-lg-6 imageBackground">
        <img src="./assets/img/login.png" />
      </div>
    </div>
  </div>
</div>
