.bgColor-full {
    background-color: whitesmoke;
    overflow: hidden;

    .form_bg {
        padding: 6.9rem;
        border: 1px solid #fff;
        border-radius: 5px;
        margin-top: 7.9rem;
        box-shadow: 0 0 6px #B2B2B2;
        position: relative;
        background-color: white;
        height: 80%;

        .logo {
            // margin-left: 30%;
            margin-top: 10%;
            width: 300px;
        }

        .heading {
            margin-top: 4rem;
            margin-bottom: 2rem;
            color: darkslategray;
            font-weight: 500;
            font-size: x-large;
        }

        .form-group {
            margin-bottom: 0rem;

            input {

                &:active,
                &:focus {
                    box-shadow: none;
                    outline: none;
                    border-color: transparent;
                    border-left: 2px solid #ad6c11;
                }
            }


            .form-control {
                display: block;
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                padding: 1.375rem .75rem;
                color: #495057;
                border-radius: 0em;
            }
        }

        .font {
            color: gray;
            font-size: small;
        }

        .button-row button {
            width: 60%;
            border-radius: 30px;
            background-color: #ad6c11;
            border: none;
            margin-left: 5rem;
            margin-top: 2rem;

            &:focus {
                outline: none;
            }
        }

        .signUp {
            color: gray;
            margin-top: 2rem;
            margin-left: 4rem;
            font-size: medium;
        }

        .bgCorner {
            position: absolute;
            bottom: -97px;
            left: -94.1px;
        }
    }

}

.errorMessage {
    font-size: 11px;
    color: red;
}
.err {
    margin-top: -15px;
}
