<div class="change-password">
    <div class="change-password-title py-3">Change Password</div>
    <div class="change-password-form container-container p-4">
        <form [formGroup]="changePassword">
            <div class="row">
                <div class="col-md-4">UserName</div>
                <div class="col-md-8">
                    <mat-form-field appearance="none">
                        <input matInput required formControlName="userName" autocomplete="off" readonly />
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Old Password<span class="mat-required-marker">*</span></div>
                <div class="col-md-8">
                    <mat-form-field appearance="none">
                        <input matInput required type="password" formControlName="oldPassword" autocomplete="off"
                            minlength="8" maxlength="30" />
                    </mat-form-field>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.oldPassword">
                            <div class="errorMessage"
                                *ngIf="changePassword.get('oldPassword').hasError(error.type) && (changePassword.get('oldPassword').dirty || changePassword.get('oldPassword').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">New Password<span class="mat-required-marker">*</span></div>
                <div class="col-md-8">
                    <mat-form-field appearance="none">
                        <input matInput required type="password" formControlName="newPassword" autocomplete="off"
                            minlength="8" maxLength="30" />
                    </mat-form-field>
                    <div class="error-messages">
                        <ng-container *ngFor="let error of error_messages.newPassword">
                            <div class="errorMessage"
                                *ngIf="changePassword.get('newPassword').hasError(error.type) && (changePassword.get('newPassword').dirty || changePassword.get('newPassword').touched)">
                                {{ error.message }}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">Confirm Password<span class="mat-required-marker">*</span></div>
                <div class="col-md-8">
                    <mat-form-field appearance="none">
                        <input matInput [class.is-invalid]="changePassword.errors?.misMatch" required type="password"
                            formControlName="confirmPassword" autocomplete="off" minlength="8" maxlength="30" />
                    </mat-form-field>
                    <div class="error-messages">
                        <div class="errorMessage" *ngIf="changePassword.errors?.misMatch">Passwords do not match</div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8 text-right">
                    <button class="btn btn-primary mr-2" [disabled]="!changePassword.valid"
                        (click)="onSave()" id="save-password">SAVE</button>
                    <button class="btn btn-white" *ngIf="disableSaveBtn" (click)="onCancel()" id="cancel-password">CANCEL</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="required-notes">
    Password guidelines:
    <ul>
        <li>Your password must be between 12 and 50 characters.</li>
        <li>Your password must contain at least one uppercase letter.</li>
        <li>Your password must contain at least one lowercase letter.</li>
        <li>Your password must contain at least one number digit.</li>
        <li>Your password must contain at least one special character, except ( ).</li>
    </ul>
</div>