<ng-container  *ngIf="!backButton">
<div class="container">
    <div class="col-md-12" *ngIf="!logout">
        <span>Do you want to exit this page ?</span>
    </div>
    <div class="col-md-12" *ngIf="logout">
        <span>Do you want to Log out?</span>
    </div>

    <div class="row" style="margin-top:15px;">
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="Yes()" id="popup-yes">Yes</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" (click)="No()" id="popup-no">No</button>
        </div>
    </div>
</div>
</ng-container>
<ng-container  *ngIf="backButton">
    <div class="col-md-12">
        <span style="margin-left:40px" >Back button has been disabled!</span>
    </div>
    <div class="row" style="margin-top:15px;">
        <div class="col-md-12" style="text-align: center;">
            <button class="btn btn-primary" (click)="Ok()" id="popup-ok">Ok</button>
        </div>      
    </div>  
</ng-container>