<ngx-spinner id="spinner-all"></ngx-spinner>

<app-header></app-header>
<div class="container insurance-house-container">
  <router-outlet></router-outlet>
</div>
<div class="insurance-house-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-7">{{ APPLABELCONSTANTS.APP_FOOTER.RIGHTS }}</div>
      <div class="col-md-5 text-right footer-logo">
        {{ APPLABELCONSTANTS.APP_FOOTER.POWERED_BY }}
        <img src="./assets/img/beyontec.png" />
      </div>
    </div>
  </div>
</div>