// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@angular/material/theming";
@import "~igniteui-angular/lib/core/styles/themes/index";
@import "../src/assets/b2c-icon.css";
@import "~ngx-toastr/toastr.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

// For ngxDataTable
@import "~@swimlane/ngx-datatable/index.css";
@import "~@swimlane/ngx-datatable/themes/material.scss";
@import "~@swimlane/ngx-datatable/assets/icons.css";

$company-color: #2ab759; // Some green shade I like
$secondary-color: #2ab759; // Some green shade I like

$my-color-palette: igx-palette(
  $primary: $company-color,
  $secondary: $secondary-color
);

@include igx-core();
@include igx-theme($my-color-palette);
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$B2CCustomer-primary: mat-palette($mat-indigo);
$B2CCustomer-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$B2CCustomer-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$B2CCustomer-theme: mat-light-theme($B2CCustomer-primary, $B2CCustomer-accent, $B2CCustomer-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($B2CCustomer-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

*:focus {
  outline: none !important;
}

.nav-link.active {
  color: #fff;
  background-color: #3191d2;
  border-radius: 0;
}

/* Form Field */
.mat-form-field {
  border: 1px solid #c7c7c7;
  border-radius: 6px;
  margin: 0 0 20px;
  padding: 0 10px;
  width: 100%;

  .mat-form-field-wrapper {
    padding-bottom: 0;
  }

  .mat-form-field-infix {
    border-top: 0px solid transparent;
    padding: 0;
    height: 40px;
  }

  .mat-form-field-label {
    color: #585858;
    font-size: 13px;
    padding-top: 1px;
    top: 0;
    height: 40px;
    line-height: 39px;
  }

  .mat-form-field-label-wrapper {
    top: 0;
    padding-top: 0;
  }

  .mat-form-field-required-marker {
    color: #da0000;
    font-size: 17px;
    font-weight: 500;
    position: relative;
    top: 2px;
    padding-left: 5px;
  }

  .mat-input-element {
    color: #000;
    font-size: 15px;
    line-height: 1;
    margin-top: 21px;
  }

  .mat-select-value-text {
    color: #000;
    font-size: 15px;
    position: relative;
    top: 20px;
  }

  .ng-touched {
    .mat-form-field-label {
      margin-top: 2px;
    }
  }

  .mat-select-arrow-wrapper {
    height: 40px;
  }

  .mat-select-arrow {
    color: #ad6c11;
  }
}

.mat-select-panel {
  .mat-option.mat-active {
    background: #d4d2d2;
  }
}

.mat-form-field-type-mat-select {
  top: -2px;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
  transform: translateY(-11px) scale(1);
}

.mat-ripple,
.mat-button-ripple,
.mat-button-focus-overlay {
  display: none;
}

.mat-slider.mat-slider-horizontal {
  height: 34px;

  .mat-slider-wrapper,
  .mat-slider-track-wrapper,
  .mat-slider-ticks-container,
  .mat-slider-track-background,
  .mat-slider-track-fill {
    height: 10px !important;
  }

  .mat-slider-wrapper {
    top: 15px;
  }

  .mat-slider-track-wrapper {
    border-radius: 5px;
  }

  .mat-slider-track-background {
    background-color: #e6e6e6;
  }

  .mat-slider-thumb {
    background: url("assets/img/slider-pointer.png") no-repeat;
    border: none;
    border-radius: 0;
    transform: scale(1);
    top: -13px;
    height: 29px;
    width: 20px;
  }

  .mat-slider-track-fill {
    background-color: #ad6c11;
  }
}

.mat-radio-button.mat-accent {
  .mat-radio-outer-circle,
  &.mat-radio-checked .mat-radio-outer-circle {
    border-color: #ad6c11;
  }

  .mat-radio-inner-circle {
    background-color: #ad6c11;
  }
}

.skin-orange.mat-radio-button.mat-accent {
  .mat-radio-outer-circle {
    border-color: #787779;
  }

  &.mat-radio-checked .mat-radio-outer-circle {
    border-color: #fe6e2a;
  }

  .mat-radio-inner-circle {
    background-color: #ff5200;
  }
}

.mat-checkbox-checked.blue {
  &.mat-accent {
    .mat-checkbox-background {
      background-color: #71460a;
    }
  }
}

.mat-datepicker-toggle {
  color: #ad6c11;

  .mat-icon-button {
    display: inherit !important;
    height: auto !important;
    position: relative;
    top: -2px;
    width: auto !important;
  }
}

.btn-primary {
  background: #ad6c11;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: #ad6c11;
    box-shadow: none;
  }

  &:disabled {
    color: #a6a6a6;
    background-color: #e0e0e0;
  }
}

.btn-info {
  background: #ad6c11;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: #ad6c11;
    box-shadow: none;
  }

  &:disabled {
    color: #a6a6a6;
    background-color: #e0e0e0;
  }
}

.btn-get {
  background: #ad6c11;

  &:hover,
  &:not(:disabled):not(.disabled):active {
    background: #ad6c11;
    box-shadow: none;
  }

  &:disabled {
    color: #a6a6a6;
    background-color: #e0e0e0;
  }
}

.prev-btn,
.nxt-btn {
  background: #ad6c11;

  &:disabled {
    color: #a6a6a6;
    background-color: #e0e0e0;
  }
}

.register-btn {
  background: #ad6c11;

  &:disabled {
    color: #a6a6a6;
    background-color: #e0e0e0;
  }
}

.btn-home {
  border-radius: 30px;
  background-color: #623b6e;
  color: #ffffff;
  padding: 0 50px;
  font-size: 15px;
  font-weight: 100;
  height: 50px;

  &:hover {
    color: #fff;
  }
}

.back-arrow {
  position: relative;
  padding-left: 15px;

  &::after {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #fff;
    position: absolute;
    top: 1px;
    left: -20px;
  }
}

.errorMessage {
  padding-top: 5px;
  font-size: 11px;
  color: red;
}

/* Fixed Navigation styles */
.fixed-nav-container {
  position: fixed;
  left: 0;
  bottom: 26px;
  width: 100%;
  z-index: 1;

  .fixed-nav {
    background: #fff;
    max-width: 100% !important;
  }
}

.multiline-label.mat-form-field {
  .mat-select-value-text {
    top: 35px;
  }

  .mat-select-arrow-wrapper {
    height: 60px;
  }

  .mat-form-field-infix {
    border-top: 0px solid transparent;
    padding: 0;
    height: 60px;
  }

  .mat-form-field-label {
    white-space: normal;
    word-break: break-word;
    line-height: 1;
    width: 100%;
    padding-right: 20px;
    transform: translateY(1px) scale(1);
  }

  .mat-input-element {
    margin-top: 35px;
  }
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}
.mat-calendar-content {
  .mat-calendar-body-selected {
    background-color: #71460a;
  }
}
.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: #71460a !important;
}

.select-plan {
  .skin-orange {
    .mat-radio-label {
      white-space: normal !important;
    }
  }
}
