.renewals {
  display: flex;
  align-items: stretch;

  .renewal-panel {
    border: 1px solid #d3d2d2;
    flex: 1;
    margin: 0 0 32px;
  }
  .renewal-panel-header {
    background: #ebebeb;
    display: flex;
    align-items: center;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding-left: 22px;
    height: 52px;
  }
  .renewal--panel-content {
    background: #fff;
    .claim-type-box {
      display: flex;
      background: #ebebeb;
      align-items: center;
      height: 70px;

      .claim-type {
        display: flex;
        flex: 2;
        flex-direction: column;
        justify-content: center;
        .claim-type-icon {
          font-size: 2.5rem;
        }
        .claim-type-label {
          font-size: 12px;
        }
      }
      .claim-count {
        display: flex;
        flex: 1;
        justify-content: center;
        font-size: 16px;
      }
      &.active {
        margin-bottom: 10px;
        .seperator {
          border-right: 1px solid #f08000;
        }
      }
    }
    .list {
      background: #fff;
      border-radius: 2px;
      text-align: center;
      display: flex;
    }
  }
  .right-adv {
    flex: 0 0 450px;
  }
}

.my-insured {
  display: flex;
  h1 {
    color: #ffaa01;
    font-size: 15px;
    text-align: center;
  }
  .table-container {
    padding: 10px 20px;
    flex: 1;
    .table th {
      border-top: none;
      border-bottom: 1px solid #cccccc;
      color: #000;
      font-size: 14px;
      font-weight: 500;
    }
    .table td {
      border-top: none;
      border-bottom: 1px dashed #cccccc;
      color: #000;
      font-size: 13px;
      font-weight: 400;
    }
  }
}
.membership {
  text-align: center;
  background-color: #00a4d6;
  color: #fff;
  padding: 38px 0 21px;
  h1 {
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 3px;
  }
  p {
    font-size: 1.5rem;
    line-height: 1;
    margin-bottom: 18px;
  }
}
.offer {
  img {
    max-width: 100%;
  }
}
.emergency {
  display: flex;
  justify-content: space-between;
  padding: 38px 22px 35px;
  .phone-block {
    text-align: center;
    width: 93px;
    height: 81px;
    .contact {
      color: #fff;
      font-size: 10px;
      line-height: 1;
      background: rgba(0, 0, 0, 0.2);
      height: 25px;
      padding-top: 3px;
    }
    .icon {
      padding: 9px 0 6px;
    }
  }
  .police {
    background: #34bc98;
  }
  .ambulance {
    background: #3e96de;
  }
  .fire {
    background: #e54f37;
  }
  .road {
    background: #95a5a5;
  }
}
::ng-deep .insurance-house {
  .insurance-house-header {
    border-bottom: 1px solid #e7e7e7;
    height: 105px;

    .header-logo {
      margin-top: 14px;
      height: 76px;
      width: 102px;
      img {
        height: 55px;
      }
    }
    .nav-item {
      border-right: 1px solid #cccccc;
      color: #000;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 22px;
      margin-top: 31px;

      a {
        color: #000000;
        font-size: 16px;
        font-weight: 500;
        text-decoration: none;
        cursor: pointer;
      }

      &.no-border {
        border: none;
        padding-right: 0;
      }
    }

    .header-nav {
      margin-top: 33px;

      a.nav-link {
        color: #000;
        font-weight: 500;
        cursor: pointer;

        &.active {
          background: none;
        }
      }
      .nav-item {
        display: flex;
        align-items: center;
        border-right: 1px solid #cccccc;
        &:last-child {
          border-right: none;
        }
      }
      .phone-number {
        padding-left: 10px;
      }
    }
  }

  .page-nav {
    box-shadow: inset 10px 10px 25px -6px #623b6e;
    background: #623b6e;
    .nav-link {
      font-size: 14px;
      color: #fff;
      height: 40px;
      display: flex;
      align-items: center;
      padding: 0 30px;
      position: relative;
      cursor: pointer;
      &:not(:last-child)::after {
        background: #fff;
        content: "";
        position: absolute;
        top: 4px;
        right: 0;
        height: 32px;
        width: 1px;
      }
      &.active {
        background: #4e4e4e;
        color: #fff;
        &:not(:last-child)::after {
          right: -1px;
        }
      }
      &:hover {
        color: #fff;
      }
    }
  }

  .nav-link.active .routing-link {
    color: #fff;
  }

  .nav-link .routing-link {
    color: inherit;
  }

  .hamberger-menu {
    display: none;
    padding: 24px 5px;
  }

  @media (max-width: 767px) {
    .insurance-house-header {
      background: #fff;
      box-shadow: 0px 0px 10px #d2d2d2;
      height: 80px;
      z-index: 9999;
      position: fixed;
      top: 0;
      width: 100%;
      .header-logo {
        margin: 10px 10px 0;
        .logo {
          width: 90px;
        }
      }
      .hamberger-menu {
        display: block;
      }
      .header-nav {
        background: #fff;
        box-shadow: 0px 6px 6px -2px #d2d2d2;
        flex-direction: column;
        margin-top: 0;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        .nav-item {
          border: none;
          border-bottom: 1px solid #e2e1e1;
          margin-top: 0;
          height: 40px;
        }
        a.nav-link {
          font-size: 13px;
        }
      }
    }
    .nav-tabs {
      .nav-link {
        font-size: 12px;
        font-weight: 500;
      }
    }
    .progress-bar {
      margin: 100px 10px 17px;
    }
  }
}

::ng-deep .customClass > a {
  color: #fff !important;
  background-color: #ad6c11 !important;
}
.custom-home{
  padding-top:25px !important;
}
.renewalCount {    
  margin-top: -1px;
  margin-left: -27px;
  color: white;
}
.badge {
  padding-left: 9px;
  padding-right: 9px;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
}

// .label-warning[href],
// .badge-warning[href] {
//   background-color: #c67605;
// }
.count {
    font-size: 12px;
    background: #ff0000;
    color: #fff;
    padding: 0 5px;
    vertical-align: top;
    margin-left: -10px; 
}