<div class="container-fluid bgColor-full">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
          <div class="form_bg">
            <div><img src="./assets/img/logo.png" class="logo" /></div>
            <br>
            <div class="heading" *ngIf="!resetUserFlag">
             We've sent you an OTP. Check your email and enter below
            </div>
            <form [formGroup]="resetPswdOtpForm" *ngIf="!resetUserFlag">
                <mat-form-field class="w-100 mr-md-5 otp-input" appearance="none">
                  <input
                  matInput
                  autocomplete="off"
                  required
                  placeholder="ENTER OTP"
                  maxlength="4"
                  formControlName="mobileOtp"
                  />
                  <div class="otp-timer" *ngIf="showTimer">
                    <p>OTP Expires in {{timeLeft}}s</p>
                  </div>
                  <div class="otp-timer" *ngIf="otpExpired">
                    <p>OTP Expired</p>
                  </div>
                </mat-form-field>
                <div class="text-right" style="margin-top: 25px;">
                  <button
                  type="button"
                  class="btn btn-primary mr-2"
                  (click)="validateOtp()"
                  [disabled]="!resetPswdOtpForm.valid"
                  id="validate-otp"
                  >
                  Submit
                  </button>
                  <button
                  type="button"
                  class="btn btn-primary mr-2"
                  (click)="resendOtp()"
                  id="resend-otp"
                  >
                  Resend OTP?
                  </button>
              </div>                         
            </form>
          
            <form [formGroup]="confirmPasswordForm" *ngIf="resetUserFlag">
                <div class="form-group">
                  <input
                    type="text"
                    autocomplete="off" 
                    placeholder="Email"
                    formControlName="userName"
                    class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.userName.errors }"
                  />
                </div>
             
                  <div
                    class="errorMessage"
                    *ngIf="
                    confirmPasswordForm.controls['userName'].touched &&
                    confirmPasswordForm.controls['userName'].hasError('required')
                    "
                  >
                    {{ APPLABELCONSTANTS.LOGIN_ERRORS.EMAIL_REQUIRED }}
                  </div>
                 
                <div class="form-group">
                  <input
                    type="password"
                    autocomplete="off" 
                    formControlName="newPassword"
                    class="form-control"
                    placeholder="Enter New Password"
                    minlength="8" maxLength="30"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                </div>
                <div class="error-messages">
                  <ng-container *ngFor="let error of error_messages.newPassword">
                      <div class="errorMessage"
                          *ngIf="confirmPasswordForm.get('newPassword').hasError(error.type) && (confirmPasswordForm.get('newPassword').dirty || confirmPasswordForm.get('newPassword').touched)">
                          {{ error.message }}
                      </div>
                  </ng-container>
              </div>
                <div class="form-group">
                  <input
                    type="password"
                    [class.is-invalid]="confirmPasswordForm.errors?.misMatch"
                    formControlName="confirmPassword"
                    class="form-control"
                    placeholder="Confirm New Password"
                    minlength="8" maxlength="30"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                  />
                </div>
                <div class="error-messages">
                  <div class="errorMessage"
                  *ngIf="
                  confirmPasswordForm.controls['confirmPassword'].touched &&
                  confirmPasswordForm.controls['confirmPassword'].hasError('required')"
                >
                  {{ APPLABELCONSTANTS.LOGIN_ERRORS.PWD_REQUIRED }}
                  </div>
                  <div class="errorMessage" *ngIf=" confirmPasswordForm.controls['confirmPassword'].value !== ''  && confirmPasswordForm.errors?.misMatch">Password do not match</div>
                </div>
              
                <div class="button-row">
                  <button
                    type="button"
                    (click)="submit()"
                    [disabled]="!confirmPasswordForm.valid"
                    class="btn btn-primary"
                    id="confirm-password"
                  >
                    {{ APPLABELCONSTANTS.LOGIN.SUBMIT }}
                  </button>
                </div>
              </form>
              <div><img src="./assets/img/login-bg2.png" class="bgCorner" /></div>
          </div>
        </div>

        <div class="col-lg-6 imageBackground" *ngIf="!resetUserFlag">
          <img src="./assets/img/login.png" />
        </div>
        <div class="col-lg-6" style="margin-top:150px" *ngIf="resetUserFlag">
          <!-- <img src="./assets/img/login.png" /> -->
          <div class="required-notes">
            Password guidelines:
            <ul>
                <li>Your password must be between 12 and 50 characters.</li>
                <li>Your password must contain at least one uppercase letter.</li>
                <li>Your password must contain at least one lowercase letter.</li>
                <li>Your password must contain at least one number digit.</li>
                <li>Your password must contain at least one special character, except ( ).</li>
            </ul>
          </div>
        </div>       
      </div>
    </div>
  </div>
 